#cloud-config
package_update: true
packages:
  - python3-venv
  - python3-pip

write_files:
  - path: /opt/app/app.py
    permissions: '0644'
    owner: www-data:www-data
    encoding: b64
    content: ${app_py_b64}

  - path: /etc/systemd/system/gunicorn.service
    permissions: '0644'
    owner: root:root
    encoding: b64
    content: ${gunicorn_service_b64}

runcmd:
  - [bash, -lc, 'mkdir -p /opt/app && chown -R www-data:www-data /opt/app']
  - [bash, -lc, 'python3 -m venv /opt/app/venv']
  - [bash, -lc, '/opt/app/venv/bin/pip install --upgrade pip flask gunicorn']
  - [bash, -lc, 'dd if=/dev/zero of=/opt/app/blob.bin bs=1M count=10 && chown www-data:www-data /opt/app/blob.bin']
  - [bash, -lc, 'systemctl daemon-reload']
  - [bash, -lc, 'systemctl enable --now gunicorn.service']
